@tailwind base;
@tailwind components;
@tailwind utilities;

/* Helpers for 3D flip effect */
.rotate-y-0 {
  transform: rotateY(0deg);
}

.rotate-y-90 {
  transform: rotateY(90deg);
}

.backface-hidden {
  backface-visibility: hidden;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
